@import 'https://unpkg.com/@a1rth/css-normalize@1.1.3/index.css';

:root {
  --color-light: #ffffff;
  --color-dark: #000000;

  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
}

html.is-dark-theme {
  --color-text: var(--color-light);
  --color-bg: var(--color-dark);
}

body {
  padding: 1rem;
  font-family: 'Rubik', sans-serif;

  color: var(--color-text);
  background-color: var(--color-bg);
}